

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= t :contact_filter%>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

        
        <%= form_tag contacts_path, method: 'get' do %>
          <h3><%= t :age_range %></h3>
          <%= label_tag :from, t(:from) %>
          <%= text_field_tag("contact[from]", {} ,type: :number, min: 0, max: 114, class: "form-control") %><br />
          <%= label_tag :to, t(:to) %>
          <%= text_field_tag("contact[to]", {} ,type: :number, min: 1, max: 115, class: "form-control") %>
          
          <h3><%= t :state, scope: [:activerecord, :attributes, :contact ] %></h3>
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag(:and_label, "E", class: 'btn btn-primary') do %>
            <%= radio_button_tag("contact[op_state]", "AND") %>E
            <% end %>
            <%= label_tag(:or_lable, "OU", class: 'btn btn-primary') do %>
            <%= radio_button_tag("contact[op_state]", "OR") %>OU
            <% end %>
          </div><br /><br />
          <%=select_tag "contact[state]", content_tag(:option,"")+options_from_collection_for_select(@states, "state_id", "state"), class: 'form-control' %>
        
          <h3><%= t :role, scope: [:activerecord, :attributes, :contact ] %></h3>
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag(:and_label, "E", class: 'btn btn-primary') do %>
            <%= radio_button_tag("contact[op_role]", "AND") %>E
            <% end %>
            <%= label_tag(:or_lable, "OU", class: 'btn btn-primary') do %>
            <%= radio_button_tag("contact[op_role]", "OR") %>OU
            <% end %>
          </div><br /><br />
          <%=select_tag "contact[role]", content_tag(:option,"")+options_from_collection_for_select(@roles, "role", "role"), class: 'form-control' %><br />
        
          <%= submit_tag t(:apply), class: "btn btn-default" %>
          
          <%= render partial: 'contacts/save_filter_modal' %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <%= t :save_filter %>
          </button>
        <% end %>
        
      </div>
    </div>
  </div>
</div>