  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <%= t :age, scope: [ :activerecord, :attributes, :contact] %>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <%= t :age_range %>
        
        <%= form_tag contacts_path, method: 'get' do %>
          <%= label_tag :from, t(:from) %>
          <%= text_field_tag(:from, {} ,type: :number, min: 0, max: 114, class: "form-control") %><br />
          <%= label_tag :to, t(:to) %>
          <%= text_field_tag(:to, {} ,type: :number, min: 1, max: 115, class: "form-control") %><br />
          <%= submit_tag t(:apply), class: "btn btn-default" %>
        <% end %>
        
      </div>
    </div>
  </div>