<div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo<%=name%>" aria-expanded="false" aria-controls="collapseTwo">
          <%= name %>
        </a>
      </h4>
    </div>
    <div id="collapseTwo<%=name%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <%= form_tag contacts_path, method: 'get' do %>
          <div class="btn-group" data-toggle="buttons">
            <%= label_tag(:and_label, "E", class: 'btn btn-primary') do %>
            <%= radio_button_tag("op_#{field}", "AND") %>E
            <% end %>
            <%= label_tag(:or_lable, "OU", class: 'btn btn-primary') do %>
            <%= radio_button_tag("op_#{field}", "OR") %>OU
            <% end %>
          </div><br /><br />
          <%=select_tag "list_#{field}", content_tag(:option,"")+options_from_collection_for_select(list, field_id, field), class: 'form-control' %><br />
          <%= submit_tag t(:apply), class: "btn btn-default" %>
        <% end %>
      </div>
    </div>
  </div>