<div class="row">
  <div class="col-xs-12 col-sm-3">
    
    <%= render 'contacts/filter' %>
  </div>
  <div class="col-xs-12 col-sm-9">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= t :name, scope: [:activerecord, :attributes, :contact ]%></th>
        <th><%= t :email, scope: [:activerecord, :attributes, :contact ] %></th>
        <th><%= t :age, scope: [:activerecord, :attributes, :contact ] %></th>
        <th><%= t :state, scope: [:activerecord, :attributes, :contact ] %></th>
        <th><%= t :role, scope: [:activerecord, :attributes, :contact ] %></th>
      </tr>
    </thead>
    <%= render @contacts %>
  </table>
  </div>
</div>