<h1><%= t :new_contact %></h1>

<%= form_for @contact do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.label :state %>
  <%= f.select(:state) do %>
    <% @states.each do |c| %>
     <%= content_tag(:option, c.state, value: c.state_id) %>
    <% end %>
  <% end %>

  <%= f.label :role %>
  <%= f.text_field :role %>

  <%= f.submit t(:create_contact), class: "btn btn-primary" %>
<% end %>




